<template name ="inventory">
<div class="row">
<div id="leftSide" class="container col s12 m4">
	 <div class="collection with-header z-depth-2">
	<div class="collection-header">
		<h4>Inventory Manager</h4>
		 </div>
		 <a href="#"  class="collection-item "><span class="capitalized">Inventory Controls</span><i class="secondary-content material-icons">chevron_right</i></a>
		  <a href="#"  class="collection-item "><span class="capitalized">Add Vehicle</span><i class="secondary-content material-icons">chevron_right</i></a>
		  <a href="#"  class="collection-item "><span class="capitalized">Inventory Templates</span><i class="secondary-content material-icons">chevron_right</i></a>
		
		</div>
	</div>
<div class="container col s12 m6 offset-m1 z-depth-2 " style="height:300px;">
<h5 class=" center-align  grey-text text-darken-1" style="padding-top:120px;">Select an option...</h5> 
	</div>
	</div>
</template>