.container {width: 100%;}
#application-login {width: 70%; padding-left: 20px}
#application-recover-password{width: 60%; padding-left: 20px}
h2 {padding-left: 10px}
#personalInfo{margin-top: 49px;}
#residenceInfo{margin-top: 48px;}
#employmentInfo{margin-top: 27px;}
#creditInfo{margin-top: 71px;}
#first_col{margin-bottom: 10px; padding-bottom: 30px}
.capitalized {
    text-transform:uppercase;
}
#leftSide {margin-top: 60px;}